<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>Dashboard IoT</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}"
    >

    <meta http-equiv="refresh" content="5">

</head>

<body>

    <div class="wave"></div>
    <div class="wave wave2"></div>
    <div class="wave wave3"></div>

    <div class="container">

        <h1>Dashboard Monitoring IoT</h1>

        <div class="grid">

            <div class="card">
                <h2>Suhu</h2>
                <p>{{ data.suhu }} °C</p>
            </div>

            <div class="card">
                <h2>Cahaya</h2>
                <p>{{ data.cahaya }}</p>
            </div>

            <div class="card">
                <h2>Kondisi</h2>
                <p>{{ data.kondisi }}</p>
            </div>

            <div class="card">
                <h2>Waktu</h2>
                <p>{{ data.waktu }}</p>
            </div>

            <div class="card">

                <h2>Lampu</h2>

                {% if data.kondisi == "Gelap" %}
                    <p class="on">ON</p>
                {% else %}
                    <p class="off">OFF</p>
                {% endif %}

            </div>

        </div>

    </div>

</body>

</html>